$colorBlue: #1daeff;
$colorWhite: #ffff;
$colorBlack: #000f;
$colorGrey: #DCDCEB;
$colorDarkGrey: #8f90a6;


$colorTransparentWhite: #fffc;

$colorMainText: #110229;
$colorAltText: #8f90a6ff;

$widthMobile: 360px;
$widthTablet: 768px;
$widthDesktop: 1024px;